{% extends 'base.html' %} {% block content %}

<style>

    .home-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "title title" "content content";
        grid-gap: 10px;
        padding: 10px;
        margin: 1
    }
</style>
<div class="home-container">
  <div>
    {% include "topics_component.html" %}
  </div>
  <div>
    {% include "rooms_component.html" %}
  </div>

  <div>

    {% include "activity_component.html" %}
    
  </div>
</div>
{% endblock content %}
